<p id="notice"><%= notice %></p>

<p>
  <strong>Factor:</strong>
  <%= @socio_cultural_factor.factor %>
</p>

<p>
  <strong>Opportunity:</strong>
  <%= @socio_cultural_factor.opportunity %>
</p>

<%= link_to 'Edit', edit_socio_cultural_factor_path(@socio_cultural_factor) %> |
<%= link_to 'Back', socio_cultural_factors_path %>
