<p id="notice"><%= notice %></p>

<p>
  <strong>Factor:</strong>
  <%= @technological_factor.factor %>
</p>

<p>
  <strong>Opportunity:</strong>
  <%= @technological_factor.opportunity %>
</p>

<%= link_to 'Edit', edit_technological_factor_path(@technological_factor) %> |
<%= link_to 'Back', technological_factors_path %>
